<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="root">
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <button @click="sortType = 2">年龄升序</button>
        <button @click="sortType = 1">年龄降序</button>
        <button @click="sortType = 0">原顺序</button>
        <ul>
            <!-- :key为索引，写成:key="p.id"更好 -->
            <li v-for="p in filPersons" :key="p.id">{{p.name}}-{{p.age}}-{{p.sex}}</li>
        </ul>
        <button @click="addsex">添加性别属性</button>
        <h2 v-if="this.persons.sex">性别：{{persons.sex}}</h2>
    </div>

    <script>
        //用computed实现
        const vm =new Vue({
            el:'#root',
            data:{
                keyWord:'',
                sortType:0, //0原顺序 1降序 2升序
                persons:[{
                    id:'001',
                    name:'马冬梅',
                    age:18,
                    sex:'女'
                },{
                    id:'002',
                    name:'周冬雨',
                    age:19,
                    sex:'女'
                },{
                    id:'003',
                    name:'周杰伦',
                    age:20,
                    sex:'男'
                },{
                    id:'004',
                    name:'温兆杰',
                    age:23,
                    sex:'男'
                }],
            },
            computed:{
                filPersons(){ //这个函数体里面的所有属性发生变化，整个这个计算属性都重新计算
                    const arr = this.persons.filter((p)=>{
                        return p.name.indexOf(this.keyWord) !== -1
                    })
                    if(this.sortType){
                        arr.sort((p1,p2)=>{
                            return this.sortType === 1? p2.age-p1.age : p1.age-p2.age
                        })
                    }
                    return arr
                }
            },
            methods: {
                addsex(){
                    console.log(111);
                    Vue.set(this.persons,'sex','男')  //set()方法只能是对象或数组里的属性
                }
            },
        })
    </script>
</body>
</html>